In [51]:
import streamlit as st

In [52]:
import pandas as pd

In [53]:
df = pd.DataFrame({
    'first column': [1,2,3,4],
    'second column': [10,20,30,40]
})

df

   first column  second column
0             1             10
1             2             20
2             3             30
3             4             40

In [54]:
data = pd.read_csv("insurance_regression.csv")

In [55]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [56]:
columns = ['age', 'sex', 'bmi', 'children', 'smoker', 'region']
target = 'charges'

In [57]:
X= data[columns]
y= data[target]

In [58]:
X.head(2)

   age     sex    bmi  children smoker     region
0   19  female  27.90         0    yes  southwest
1   18    male  33.77         1     no  southeast

In [59]:
X_dummies = pd.get_dummies(X)

In [60]:
X_dummies.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0

In [61]:
X_final = X_dummies.drop(['sex_male', 'smoker_no'], axis=1)

In [62]:
X_final.head()

,age,bmi,children,sex_female,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,1,0,0,0,1
1,18,33.770,1,0,0,0,0,1,0
2,28,33.000,3,0,0,0,0,1,0
3,33,22.705,0,0,0,0,1,0,0
4,32,28.880,0,0,0,0,1,0,0

In [63]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X_final, y, random_state=42, test_size=0.2)

In [65]:
lr = LinearRegression()

In [66]:
lr.fit(X_train, y_train)

LinearRegression()

In [67]:
print(lr.score(X_test, y_test))

0.7835929767120723

In [68]:
import joblib

In [69]:
#saving the model
filename = 'finalized_model.sav'
joblib.dump(lr, filename)

['finalized_model.sav']

In [70]:
#Loading the model
loaded_model = joblib.load(filename)

In [71]:
age = 52
bmi = 30.2
num_children = 2

gender = 'female'
if gender == 'male':
    is_female = 0
else:
    is_female = 1
    
smoker = 'yes'
if smoker== 'yes':
    is_smoker = 1
else:
    is_smoker = 0
    
region = 'northwest'
if region == 'northeast':
    loc_list = [1, 0, 0, 0]
elif region == 'northwest':
    loc_list = [0, 1, 0, 0]
elif region == 'southeast':
    loc_list = [0, 0, 1, 0]
elif region == 'southwest':
    loc_list = [0, 0, 0, 1]
    
loaded_model.predict([[age, bmi, num_children, is_female, is_smoker] + loc_list])[0]

C:\Users\matri\anaconda3\envs\dariusday2\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

35742.72181833056

In [72]:
!pip install pipreqs

Requirement already satisfied: pipreqs in c:\users\matri\anaconda3\envs\dariusday2\lib\site-packages (0.4.11)
Requirement already satisfied: yarg in c:\users\matri\anaconda3\envs\dariusday2\lib\site-packages (from pipreqs) (0.1.9)
Requirement already satisfied: docopt in c:\users\matri\anaconda3\envs\dariusday2\lib\site-packages (from pipreqs) (0.6.2)
Requirement already satisfied: requests in c:\users\matri\anaconda3\envs\dariusday2\lib\site-packages (from yarg->pipreqs) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\matri\anaconda3\envs\dariusday2\lib\site-packages (from requests->yarg->pipreqs) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\matri\anaconda3\envs\dariusday2\lib\site-packages (from requests->yarg->pipreqs) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\matri\anaconda3\envs\dariusday2\lib\site-packages (from requests->yarg->pipreqs) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\matri\anaconda3\envs\dariusday2\lib\site-packages (from requests->yarg->pipreqs) (1.26.8)

In [74]:
!pipreqs

Traceback (most recent call last):
  File "C:\Users\matri\anaconda3\envs\dariusday2\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\matri\anaconda3\envs\dariusday2\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\matri\anaconda3\envs\dariusday2\Scripts\pipreqs.exe\__main__.py", line 7, in <module>
  File "C:\Users\matri\anaconda3\envs\dariusday2\lib\site-packages\pipreqs\pipreqs.py", line 488, in main
    init(args)
  File "C:\Users\matri\anaconda3\envs\dariusday2\lib\site-packages\pipreqs\pipreqs.py", line 415, in init
    candidates = get_all_imports(input_path,
  File "C:\Users\matri\anaconda3\envs\dariusday2\lib\site-packages\pipreqs\pipreqs.py", line 115, in get_all_imports
    contents = f.read()
  File "C:\Users\matri\anaconda3\envs\dariusday2\lib\encodings\cp1252.py", line 23, in decode
    return codecs.charmap_decode(input,self.errors,decoding_table)[0]
UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 301: character maps to <undefined>